.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #C7FFED;
}

.App main {
  overflow: auto;
}

.loading {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 500px;
  object-fit: contain;
}